{% include "user/header.html" %}
{% include "user/navbar.html" %}
{% include "user/sidebar.html" %}

<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Deteksi dan Koreksi Kesalahan Penulisan</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="card-box mb-30">
					<div class="pd-20">
						<form action="{{ url_for('proses_deteksi_koreksi') }}" method="post">
							<div class="form-group">
								<select class="form-control" name="pertanyaan">
									<option>Pilih Pertanyaan</option>
									{% for row in tanya %}
										<option value="{{row.id_pertanyaan}}">{{row.pertanyaan}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Jawaban</label>
								<textarea name="jawaban" id="jawaban" class="form-control" required placeholder="Isi Jawabanmu Disini" >{{jawaban}}</textarea>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Coba Deteksi Penulisan</button>
							</div>
						</form>
					</div>
				</div>
				<div class="card-box mb-30">
					<div class="pd-20">
						<form action="{{ url_for('proses_coba_penilaian') }}" method="post">
							<div class="form-group">
								<label>Pilih Pertanyaan</label>
							</div>
							<div class="form-group">
								<select class="form-control" name="pertanyaan">
									<option>Pilih Pertanyaan</option>
									{% for row in tanya %}
										<option value="{{row.id_pertanyaan}}">{{row.pertanyaan}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
									<label>Jawaban</label>
									<textarea name="jawab" id="jawab" class="form-control" value = "{{jawaban}}" required placeholder="Isi Jawabanmu Disini" ></textarea>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Coba Penilaian</button>
							</div>
						</form>
					</div>
				</div>
				<div class="card-box mb-30">
					<div class="pd-20">
						{{jawaban}}
						{{similaritas}}
						{{value}}
					</div>
				</div>
			</div>
		</div>
</div>


{% include "user/footer.html" %}
