<div class="header">
		<div class="header-left">
			<div class="menu-icon dw dw-menu"></div>
		</div>
		<div class="header-right">
			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
<!--						<span class="user-icon">-->
<!--							<img src="" alt="">-->
<!--						</span>-->
						<span class="user-name">{{user.username}}</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
<!--						<a class="dropdown-item" href="{{url_for('profil_user')}}"><i class="dw dw-user1"></i> Profil</a>-->
						<a class="dropdown-item" href="{{url_for('keluar')}}"><i class="dw dw-logout"></i>Keluar</a>
					</div>
				</div>
			</div>
			<div class="github-link">
				<a href="https://github.com/dropways/deskapp" target="_blank"><img src="vendors/images/github.svg" alt=""></a>
			</div>
		</div>
	</div>