{% include "admin/header.html" %}
{% include "admin/navbar.html" %}
{% include "admin/sidebar.html" %}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Detail Jawaban</h4>
							</div>
						</div>
					</div>
			</div>
            <div class="card-box mb-30">
                <div class="pd-20">
                    {% for row in jawaban %}
                    <form action="" method="post">
                          <div class="form-group">
                              <b><label>Responden</label></b>
                              <input type="text" name="responden" id="responden" class="form-control" value="{{row.nama}}" >
                          </div>
                          <div class="form-group">
                              <b><label>Pertanyaan</label></b>
                              <textarea name="pertanyaan" id="pertanyaan" class="form-control" >{{row.pertanyaan}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Jawaban</label></b>
                              <textarea name="jawaban" id="jawaban" class="form-control" >{{row.jawaban}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Case Folding</label></b>
                              <textarea name="case_folding" id="case_folding" class="form-control" >{{row.case_folding}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Tokenisasi Kalimat</label></b>
                              <textarea name="token_kal" id="token_kal" class="form-control" >{{row.token_kal}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Filtering</label></b>
                              <textarea name="filter" id="filter" class="form-control" >{{row.filter}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Tokenisasi Kata</label></b>
                              <textarea name="kata" id="kata" class="form-control" >{{row.token}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Hasil Jaro Winkler</label></b>
                              <textarea name="jaro" id="jaro" class="form-control" >{{row.jaro_wink}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Unigram</label></b>
                              <textarea name="uni" id="uni" class="form-control" >{{row.unigram}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Bigram Kiri</label></b>
                              <textarea name="bi_ki" id="bi_ki" class="form-control" >{{row.bigram_kiri}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Bigram Kanan</label></b>
                              <textarea name="bi_ka" id="bi_ka" class="form-control" >{{row.bigram_kanan}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Trigram</label></b>
                              <textarea name="tri" id="tri" class="form-control" >{{row.trigram}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Probabilitas Unigram</label></b>
                              <textarea name="pro_uni" id="pro_uni" class="form-control" >{{row.pro_uni}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Probabilitas Bigram Kiri</label></b>
                              <textarea name="pro_bi_ki" id="pro_bi_ki" class="form-control" >{{row.pro_bi_ki}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Probabilitas Bigram Kanan</label></b>
                              <textarea name="pro_bi_ka" id="pro_bi_ka" class="form-control" >{{row.pro_bi_ka}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Probabilitas Trigram</label></b>
                              <textarea name="pro_tri" id="pro_tri" class="form-control" >{{row.pro_tri}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Probabilitas Jelinek Bigram Kiri</label></b>
                              <textarea name="jel_bi_ki" id="jel_bi_ki" class="form-control" >{{row.jelinek_kiri}}</textarea>
                          </div>
                           <div class="form-group">
                              <b><label>Probabilitas Jelinek Bigram Kanan</label></b>
                              <textarea name="jel_bi_ka" id="jel_bi_ka" class="form-control" >{{row.jelinek_kanan}}</textarea>
                          </div>
                           <div class="form-group">
                              <b><label>Probabilitas Jelinek Trigram</label></b>
                              <textarea name="jel_tri" id="jel_tri" class="form-control" >{{row.jelinek_trigram}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Skor Kata</label></b>
                              <textarea name="skor" id="skor" class="form-control" >{{row.skor_kata}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Ranking</label></b>
                              <textarea name="rank" id="rank" class="form-control" >{{row.rank}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>TF Kunci Jawaban</label></b>
                              <textarea name="tf_kunci" id="tf_kunci" class="form-control" >{{row.tf_kunci}}</textarea>
                          </div>
                           <div class="form-group">
                              <b><label>TF Jawaban</label></b>
                              <textarea name="tf_jawaban" id="tf_jawaban" class="form-control" >{{row.tf_jawaban}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>DF</label></b>
                              <textarea name="df" id="df" class="form-control" >{{row.df}}</textarea>
                          </div>
                           <div class="form-group">
                              <b><label>IDF</label></b>
                              <textarea name="idfi" id="idfi" class="form-control" >{{row.idfi}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Bobot Kunci</label></b>
                              <textarea name="bobot_kunci" id="bobot_kunci" class="form-control" >{{row.bobot_kunci}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Bobot Jawaban</label></b>
                              <textarea name="bobot_jawab" id="bobot_jawab" class="form-control" >{{row.bobot_jawab}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Similaritas</label></b>
                              <input type="text" name="similaritas" id="similaritas" class="form-control" value="{{row.similaritas}}" >
                          </div>
                          <div class="form-group">
                              <b><label>Rekomendasi</label></b>
                              <textarea name="rekomendasi" id="rekomendasi" class="form-control" >{{row.rekomendasi}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Nilai</label></b>
                              <input type="text" name="nilai" id="nilai" class="form-control" value="{{row.nilai}}" >
                          </div>
                    </form>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin/footer.html" %}
