{% include "admin/header.html" %}
{% include "admin/navbar.html" %}
{% include "admin/sidebar.html" %}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Detail Scoring</h4>
							</div>
						</div>
					</div>
			</div>
            <div class="card-box mb-30">
                <div class="pd-20">
                    {% for row in scoring %}
                    <form action="" method="post">
                          <div class="form-group">
                              <b><label>Responden</label></b>
                              <input type="text" name="responden" id="responden" class="form-control" value="{{row.nama}}" >
                          </div>
                          <div class="form-group">
                              <b><label>Pertanyaan</label></b>
                              <textarea name="pertanyaan" id="pertanyaan" class="form-control" >{{row.pertanyaan}}</textarea>
                          </div>
                           <div class="form-group">
                              <b><label>Kunci Jawaban</label></b>
                              <textarea name="jawaban" id="jawaban" class="form-control" >{{row.kunci_jawaban}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Jawaban</label></b>
                              <textarea name="jawaban" id="jawaban" class="form-control" >{{row.jawaban}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>TF Kunci Jawaban</label></b>
                              <textarea name="tf_kunci" id="tf_kunci" class="form-control" >{{row.term_kunci}}</textarea>
                          </div>
                           <div class="form-group">
                              <b><label>TF Jawaban</label></b>
                              <textarea name="tf_jawaban" id="tf_jawaban" class="form-control" >{{row.term_jawaban}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>DF</label></b>
                              <textarea name="df" id="df" class="form-control" >{{row.df}}</textarea>
                          </div>
                           <div class="form-group">
                              <b><label>IDF</label></b>
                              <textarea name="idfi" id="idfi" class="form-control" >{{row.idf}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Bobot Kunci</label></b>
                              <textarea name="bobot_kunci" id="bobot_kunci" class="form-control" >{{row.bobot_kunci}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Bobot Jawaban</label></b>
                              <textarea name="bobot_jawab" id="bobot_jawab" class="form-control" >{{row.bobot_jawaban}}</textarea>
                          </div>
                          <div class="form-group">
                              <b><label>Similaritas</label></b>
                              <input type="text" name="similaritas" id="similaritas" class="form-control" value="{{row.similaritas}}" >
                          </div>
                          <div class="form-group">
                              <b><label>Nilai</label></b>
                              <input type="text" name="nilai" id="nilai" class="form-control" value="{{row.nilai}}" >
                          </div>
                    </form>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin/footer.html" %}
