{% include "admin/header.html" %}
{% include "admin/navbar.html" %}
{% include "admin/sidebar.html" %}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="banner-caption">
                                        <h4>Deteksi dan Koreksi Kesalahan Penulisan Kata Bahasa Indonesia Menggunakan N-Gram dan Jaro Winkler Pada Sistem Penilaian Esai </h4>
                                        <p>Judanti Cahyaning Tyas, 123170014</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin/footer.html" %}
