{% include "admin/header.html" %}
{% include "admin/navbar.html" %}
{% include "admin/sidebar.html" %}

<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
                <div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>KBBI + N-Gram</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- Simple Datatable start -->
				<div class="card-box mb-30">
					<div class="pd-20">
                        <h4>Unigram</h4>
					</div>
                    <div class="pb-20">
						<table class="display table table-striped table-hover" cellspacing="0" width="100%" id="coba">
							<thead>
								<tr>
									<th>No</th>
                                    <th>Unigram</th>
                                    <th>Jumlah Kemunculan</th>
								</tr>
							</thead>
							<tbody>
								{% for row in unigram %}
								<tr>
									<td>{{loop.index}}</td>
									<td>{{row.unigram}}</td>
                                    <td>{{row.jumlah_kemunculan}}</td>
								</tr>
                                {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
                <div class="card-box mb-30">
					<div class="pd-20">
                        <h4>Bigram</h4>
					</div>
                    <div class="pb-20">
						<table class="display table table-striped table-hover" cellspacing="0" width="100%" id="bigram">
							<thead>
								<tr>
									<th>No</th>
                                    <th>Bigram</th>
                                    <th>Jumlah Kemunculan</th>
								</tr>
							</thead>
							<tbody>
								{% for row in bigram %}
								<tr>
									<td>{{loop.index}}</td>
									<td>{{row.bigram}}</td>
                                    <td>{{row.jumlah_kemunculan}}</td>
								</tr>
                                {% endfor %}
							</tbody>
						</table>
					</div>
                </div>
                <div class="card-box mb-30">
					<div class="pd-20">
                        <h4>Trigram</h4>
					</div>
                    <div class="pb-20">
						<table class="display table table-striped table-hover" cellspacing="0" width="100%" id="trigram">
							<thead>
								<tr>
									<th>No</th>
                                    <th>Trigram</th>
                                    <th>Jumlah Kemunculan</th>
								</tr>
							</thead>
							<tbody>
								{% for row in trigram %}
								<tr>
									<td>{{loop.index}}</td>
									<td>{{row.trigram}}</td>
                                    <td>{{row.jumlah_kemunculan}}</td>
								</tr>
                                {% endfor %}
							</tbody>
						</table>
					</div>
                </div>
			</div>
		</div>
    </div>

{% include "admin/footer.html" %}
