{% include "admin/header.html" %}
{% include "admin/navbar.html" %}
{% include "admin/sidebar.html" %}

    <div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
                <div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Responden</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- Simple Datatable start -->
				<div class="card-box mb-30">
					<div class="pd-20">
                        <h5>Daftar Responden</h5>
                        <hr>
					</div>
					<div class="pb-20">
						<table class="display table table-striped table-hover" cellspacing="0" width="100%" id="coba">
							<thead>
								<tr>
									<th>No</th>
                                    <th>Nama Lengkap</th>
                                    <th>Nama Pengguna</th>
                                    <th>Jenis Kelamin</th>
									<th class="datatable-nosort">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for row in list_responden %}
								<tr>
									<td>{{loop.index}}</td>
									<td>{{row.nama}}</td>
                                    <td>{{row.username}}</td>
                                    <td>{{row.jenis_kelamin}}</td>
                                    <td>
										<div class="dropdown">
											<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
												<i class="dw dw-more"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
												<a class="dropdown-item" href="/lihat_responden/{{row.id}}" data-toggle="modal" data-target="#lihatResponden{{row.id}}"><i class="dw dw-eye"></i>Lihat</a>
<!--												<a class="dropdown-item" href="/edit_responden/{{row.id}}" data-toggle="modal" data-target="#editResponden{{row.id}}"><i class="dw dw-edit2"></i>Edit</a>-->
<!--												<a class="dropdown-item" href="/hapus_responden/{{row.id}}"><i class="dw dw-delete-3"></i>Hapus</a>-->
											</div>
										</div>
									</td>
								</tr>
<!--                            modal view-->
                                <div class="modal fade" id="lihatResponden{{row.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Lihat Responden</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                  <div class="modal-body">
                                      <form action="" method="post">
                                          <div class="form-group">
                                              <b><label>Nama Lengkap</label></b>
                                              <input type="hidden" name="id" id="id" class="form-control" value="{{row.id}}" >
                                              <input type="text" name="lihat_nama" id="lihat_nama" class="form-control" value="{{row.nama}}" >
                                          </div>
                                          <div class="form-group">
                                              <b><label>Nama Pengguna</label></b>
                                              <input type="text" name="lihat_user" id="lihat_user" class="form-control" value="{{row.username}}" >
                                          </div>
                                          <div class="form-group">
                                              <b><label>Jenis kelamin</label></b><br>
                                              <div class="form-check">
                                                  {% if row.jenis_kelamin == "Laki": %}
                                                  <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="laki" value="{{row.jenis_kelamin}}" checked >Laki-laki <br>
                                                    <input type="radio" class="form-check-input" name="pr" value="{{row.jenis_kelamin}}" >Perempuan
                                                  </label>
                                                  {% endif%}
                                              </div>
                                              <div class="form-check">
                                                  {% if row.jenis_kelamin == "Perempuan": %}
                                                  <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="laki" value="{{row.jenis_kelamin}}"  >Laki-laki <br>
                                                    <input type="radio" class="form-check-input" name="pr" value="{{row.jenis_kelamin}}" checked>Perempuan
                                                  </label>
                                                  {% endif%}
                                              </div>
                                        </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Keluar</button>
                                          </div>
                                      </form>
                                  </div>
                                  </div>
                              </div>
                            </div>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
                <div class="card-box mb-30">
					<div class="pd-20">
                        <h5>Daftar Jawaban Responden</h5>
					</div>
                    <div class="pb-20">
						<table class="display table table-striped table-hover" cellspacing="0" width="100%" id="bigram">
							<thead>
                            	<tr>
                                    <th>No</th>
									<th>Nama Responden</th>
                                    <th>Pertanyaan</th>
                                    <th>Jawaban</th>
                                    <th>Rekomendasi</th>
                                    <th>Nilai</th>
                                    <th>Action</th>
								</tr>
                            </thead>
							<tbody>
                                {% for row in list_jawaban %}
							    <tr>
                                    <td>{{loop.index}}</td>
									<td>{{row.nama}}</td>
									<td>{{row.pertanyaan}}</td>
                                    <td>{{row.jawaban}}</td>
                                    <td>{{row.rekomendasi}}</td>
                                    <td>{{row.nilai}}</td>
                                    <td>
                                        <div class="dropdown">
											<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
												<i class="dw dw-more"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                <a class="dropdown-item" href="{{ url_for('lihat_responden', id_jawaban=row.id_jawaban) }}"><i class="dw dw-eye"></i>Lihat</a>
                                            </div>
                                        </div>
                                    </td>
								</tr>
                                {% endfor %}
							</tbody>
						</table>
					</div>
                </div>
			</div>
		</div>
    </div>

{% include "admin/footer.html" %}
